body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #121212;
}

.app{
  text-align: center;
  background-color: #121212;
  height: 100vh;
  width: 100vw;
}

nav{
  height: 60px;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav h1{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}

.game_content{
  width: 100vw;
  height: calc(100vh - 170px);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard{
  width: 450px;
  height: 550px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.gameboard_row{
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter{
  flex: 33%;
  height: 100%;
  border: 1px solid #808080;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 30px;
}

.keyboard{
  width: 700px;
  height: 300px;
  margin-top: 60px;
}

.keyboard_line_one{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.keyboard_line_two{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.keyboard_line_three{
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.singleKey{
  height: 70px;
  width: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: #808080;
  cursor: pointer;
  margin: 5px;
}

.game_over_content{
  width: 100vw;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.game_over_content .gameOver{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.gameOver .gameOver_content{
  background-color: #3a393c;
  height: 400px;
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.gameOver_content_text{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#specialKey{
  width: 90px;
}

#correct{
  background-color: #528d4e;
}

#close{
  background-color: #b49f39;
}

#wrong{
  background-color: #3a393c;
}

@media screen and (max-width:700px){
  .app{
    height: auto;
  }

  .gameboard{
    width: 90%;
    height: 370px;
  }
  
  .letter{
    height: 50px;
  }

  .keyboard{
    width: 90%;
    height: 400px;
  }

  .singleKey{
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  #specialKey{
    width: 60px;
    font-size: 18px;
  }
}
